[submodule "libs"]
	path = libs
	url = https://github.com/Kode/ocamllibs.git
	branch = master
[submodule "extra/haxelib_src"]
	path = extra/haxelib_src
	url = https://github.com/Kode/haxelib.git
	branch = master
